.navigationWrapper,
.foorerWrapper {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}
.navigationWrapper {
    top: 0;
}
.foorerWrapper {
    bottom: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
.header h1 {
    font-weight: 600;
    margin-bottom: 0;
}
.header h4 {
    margin: 0;
}
.inscription {
    text-align: center;
    position: absolute;
    z-index: 5;
}

/* bacground */
.background_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.background_wrapper img {
    display: block;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.background_eclipse {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* XS / Extra small */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    .header {
        justify-content: flex-start;
        padding-top: 30vh;
    }
    .inscription {
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
        width: min-content;
    }
    .header h1 {
        font-size: 50px;
        margin-bottom: 8px;
    }
}

/* SM / Small */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* MD / Medium */
@media only screen and (min-width: 769px) and (max-width: 992px) {
   
}

/* LG / Large */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
   
}

/* XL / Extra large */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {

}

/* XXL / Extra extra large */
@media only screen and (min-width: 1401px) {

}