<!DOCTYPE html>{% load i18n %}
<html lang="ua">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block SEO %}
    <meta name="keywords" content="Petryk Oleksandr, web developer, portfolio Petryk Oleksandr, Petryk Oleksandr web developer"> 
    <meta name="description" content="Petryk Oleksandr, web developer, portfolio Petryk Oleksandr, Petryk Oleksandr web developer"> 
 
    <meta property="og:title" content="Petryk Oleksandr">
    <meta property="og:type" content="homepage">
    <meta property="og:description" content="Development of sites web applications">
    <meta property="og:image" content="https://petryk.me{% static 'main/img/offer-img-a.png' %}">
    <meta property="og:url" content="https://petryk.me">
    <meta property="og:site_name" content="petryk.me">
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-21V0TCK3VD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-21V0TCK3VD');
    </script>
    <!-- static files -->
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block links %}{% endblock %} 
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon"href="{% static 'base/img/favicon.ico' %}"> 
    <title>{% block title %}Petryk Oleksandr{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        {% if not hide_nav %}
        {% include 'base/includes/nav.html' %}
        {% endif %}  

        {% block content %}{% endblock %} 

        {% if not hide_footer %}
        {% include 'base/includes/footer.html' %}
        {% endif %}
    </div>
 
    <script src="{% static 'base/js/base.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>