{% extends "base/base.html" %}
{% load static %}{% load i18n %}

{% block title %}Petryk Oleksandr / about me{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'about_me/css/about_me.css' %}">
{% endblock %}

{% block content %}
<div class="content">   
    <section class="preview container fix-navigation">
        <div class="short-data">
            <h1>{% trans "Petryk Oleksandr" %}</h1>
            <p>{% trans "Age: 17 years old" %}</p>
            <p>{% trans "Country: Ukraine" %}</p>
            <p>{% trans "Level: Junior" %}</p>
        </div>

        <div class="sasha-photo-wrapper">
            <img src="{% static 'about_me/img/background-mountains.png' %}" alt="background-mountains" class="background-mountains"> 
            <img src="{% static 'about_me/img/Sasha-photo.jpg' %}" alt="Sasha photo" class="sasha-photo"> 
        </div>
    </section>

    <section class="container about-me">
        <h2>{% trans "About me" %}</h2>
        <p>{% trans "As you can already understand, I am a programmer, I develop sites. At first I just liked writing code, but later I realized that I wanted to do serious programming, therefore I continued to study, and reached present level. I love learning something new, and I do it well. I lead a healthy lifestyle, I have no bad habits, I like to spend time actively. I take into account the interests of others, so I usually do not cause trouble, I find common ground with others quickly enough, I know how to work in a team." %}</p>
    </section>

    <section class="container languages">
        <h2>{% trans "Languages" %}</h2>
        <ul>
            <li>{% trans "English / B1" %}</li>
            <li>{% trans "Russian / native" %}</li>
            <li>{% trans "Ukranian / native" %}</li>
        </ul>
        <p>{% trans "Since I live in Ukraine, I know the Ukrainian language, also I also know Russian. As for the English language, I really like it, so I study it by listening to music, watching movies and the like." %}</p>
    </section>

    <section class="container skills">
        <h2>{% trans "My skills" %}</h2>
        
        <div class="skill-part">
            <h4>Html / CSS</h4>
            <p>{% trans "These two technologies were my first in web development, I have been studying them since 2019. So I can do almost anything with their help." %}</p>
        </div>
        <div class="skill-part">
            <h4>JavaScript</h4>
            <p>{% trans "I have been studying JavaScript since 2021. With it I can create complex elements of interaction on the site. I don't know any JS framework, but I'm working on fixing it." %}</p>
        </div>
        <div class="skill-part">
            <h4>Python</h4>
            <p>{% trans "My first programming language was Python, I liked it so I started to study it in depth. I use Django to write the backend part of the site." %}</p>
        </div>
        <div class="skill-part">
            <h4>Linux</h4>
            <p>{% trans "I've always liked Linux, so I recently started studying it, I use it to configure VPS servers for my projects. I also use Linux as the main OS." %}</p>
        </div>
        <div class="skill-part">
            <h4>{% trans "Problem-solving capability" %}</h4>
            <p>{% trans "I like to approach the problem wisely, I believe that this way of solving problems characterizes a good specialist." %}</p>
        </div>
        <div class="skill-part">
            <h4>{% trans "Mathematical skills" %}</h4>
            <p>{% trans "I do not know higher mathematics, but I have good logic, it allows me to perform tasks that require knowledge of mathematics, if I do not know something, I learn it quickly." %}</p>
        </div>
    </section>

    <section class="container intresting-fact">
        <img src="{% static 'about_me/img/facts-view.jpg' %}" alt="facts-view">

        <div class="facts">
            <h3>{% trans "Intresting facts" %}</h3>
            <p>{% trans "I like a bicycle" %}</p>
            <p>{% trans "I can solve a Rubik's cube" %}</p>
            <p>{% trans "I love a music" %}</p>
            <p>{% trans "I drink a lot of tea" %}</p>
        </div>
    </section>

    <section class="container gallery-wrapper">
        <h2>{% trans "Gallery" %}</h2>

        <div class="gallery"> 
            {% for photo in gallery %}
            <img src="{{ photo.img.url }}" alt="{{ photo.get_filename }}" class="img-shadow">  
            {% endfor %}   
        </div>
    </section>
</div>
{% endblock %} 

{% block scripts %}{% endblock %}