{% extends "base/base.html" %}
{% load static %}

{% block SEO %}
    <meta name="description" content="Petryk Oleksandr, web developer, portfolio Petryk Oleksandr, Petryk Oleksandr web developer, contact with Petryk Oleksandr"> 
{% endblock %}

{% block title %}Petryk Oleksandr / contact{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="content">  
    {% include 'base/includes/contact-form.html' %}
</div>
{% endblock %} 

{% block scripts %}{% endblock %}