.canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overscroll-behavior: contain;
}

.canvasAnimation {
  animation: Appears 1s ease-in 0.1s 1 both;
}

@keyframes Appears {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
