[Unit]
Description=Python bot service

Wants=network.target
After=syslog.target network-online.target

[Service]
EnvironmentFile=/home/petryk/git/petryk/env/.env
Type=simple
ExecStart=/home/petryk/git/petryk/src/start_bot.sh
Restart=on-failure
RestartSec=1
KillMode=process

[Install]
WantedBy=multi-user.target
