<footer>
    <form action="" method="post" class="container contact"> 
        {% csrf_token %}
        <div class="call-to-user">
            <h1>Write to me</h1>
            <p>If you want to cooperate or ask<br> something - write to me!</p>
        </div>

        <div class="contact-data-wrapper">
            <div class="contact-data">
                {% include 'base/includes/contact.html' %}
            </div>
        </div>
        <div class="contact-social-networks">
            {% include 'base/includes/social-networks.html' %}
        </div>
        
        <div class="form-inputs"> 
            {{form.name}}
            {{form.email}}
        </div>
        <div class="form-textarea"> 
            {{form.message}} 
        </div>
        
        <button class="btn-big send-contact-form">send message</button>
    </form>
</footer>