* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --br: 7px;
    
    --bg-blur: 24px;
    --bg-eclipse: rgba(0, 0, 0, 0.4);
}

/* equiment */
.container {
    width: var(--container-width);
    padding: 0 var(--container-padding);
}
.container:not(:last-child) {
    margin-bottom: 20px;
}
.container-flugid {
    width: 100%;
}
.balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
    width: 100%;

    position: relative;
}
.separate {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}



/* XS / Extra small */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    * {
        --container-width: 100%;
        --container-padding: 20px;
    }    
}

/* SM / Small */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    * {
        --container-width: 100%;
        --container-padding: 20px;
    }    
    
}

/* MD / Medium */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    * {
        --container-width: 100%;
        --container-padding: 40px;
    }    
    
}

/* LG / Large */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    * {
        --container-width: 90%;
        --container-padding: 0;
    }    
    
}

/* XL / Extra large */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    * {
        --container-width: 1080px;
        --container-padding: 0;
    }    
    
}

/* XXL / Extra extra large */
@media only screen and (min-width: 1401px) {
    * {
        --container-width: 1080px;
        --container-padding: 0;
    }    

}