footer {
    margin-bottom: 15px;
}
.footer-block {
    display: flex;
    justify-content: center;
}
.footer-block a {
    color: var(--color);
}
.footer-block a:not(:last-child) {
    margin-right: 32px;
}



/* XS / Extra small */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    footer {
        margin-bottom: 25px;
    }
}

/* SM / Small */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    footer {
        margin-bottom: 25px;
    }
}

/* MD / Medium */
@media only screen and (min-width: 769px) and (max-width: 992px) {
   
}

/* LG / Large */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
   
}

/* XL / Extra large */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {

}

/* XXL / Extra extra large */
@media only screen and (min-width: 1401px) {

}