/* main */
/* offer */
.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header */ 
header { 
    padding-right: 20px; 
    width: 60%;
}
header p {
    margin: 24px 0 42px 0; 
    font-size: 24px;
    line-height: 29px;
    color: #728CA1;
}
header b {  
    font-size: 25px; 
} 
 
.btn-icons {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 
.btn-icons button {
    margin: 0 20px 20px 0;
}
.btn-icons .social-networks {
    width: min-content;
    display: flex;
    justify-content: center;
    margin: 0 20px 20px 0;
}
.btn-icons .social-network-link svg {
    fill: #000;
} 

/* img */
.sasha-photo-wrapper { 
    width: 40%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
}
.offer img {  
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

/* my goal */
.my-goal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.my-goal > div {
    width: 50%;
}
.my-goal div svg {
    width: 105%;
}
.my-goal div h2 {
    margin-bottom: 20px;
}
.my-goal p:not(:last-child) {
    margin-bottom: 20px;
}

/* last works */
.last-works {
    text-align: center;
}
.last-works > h2 {
    margin-bottom: 50px;
}
.works-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 22px;
}


/* facts */
.facts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.facts div {
    width: 50%;
}
.facts div p:not(:last-child) {
    margin: 31px 0;
}
.facts div svg {
    width: 100%;
}



/* form */ 
.contact {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 320px;
    grid-template-rows: repeat(3, min-content);

    grid-column-gap: 30px;
    grid-row-gap: 30px;
} 
.call-to-user p { 
    margin-top: 10px;
    font-weight: 200;   
} 
.contact-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 
.contact-social-networks {
    display: flex;
    align-items: center;
} 

footer {
    padding: 180px 0 100px 0;
}
.form-inputs { 
    display: flex;
    flex-direction: column;
}
.form-inputs input[name="name"] {
    margin-bottom: 30px;
}
.form-inputs input {
    padding: 10px 20px 20px 20px;
    width: 100%;
}


.form-textarea {
    margin-bottom: 100px;
}
.form-textarea textarea {
    resize: none;
    padding: 20px 20px 20px 20px;
    width: 100%;
    height: 150px;
} 

.form-inputs input,
.form-textarea textarea {
    border: none;
    outline: none;
    background: inherit;
    border-bottom: 1px solid var(--theme-color-reverse);
    color: var(--text-color-def);
    font-weight: 600;
    font-size: 20px;  
}
.form-inputs input::placeholder,
.form-textarea textarea::placeholder { 
    font-weight: 600;
    font-size: 20px; 
}  



/* adaptive */
@media screen and (min-width: 1401px) {
  
}
@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 768px) { 
    /* offer */
    .offer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* header */ 
    header { 
        padding: 0; 
        width: 100%;
    } 
    header p {
        margin: 24px 0 42px 0; 
        font-size: 20px;
        line-height: 29px;
        color: #728CA1;
    }
    .btn-icons .social-networks {
        width: min-content; 
        margin: 0 auto 20px auto;
    }

    /* img */
    .sasha-photo-wrapper { 
        display: none; 
    } 

    /* last works */ 
    .my-work {
        padding: 20px 25px 18px 25px;
    }
    .last-works > h2 {
        margin-bottom: 30px;
    }
    .works-wrapper { 
        grid-template-columns: repeat(1, 1fr); 
    }

    /* my goal */
    .my-goal { 
        flex-direction: column;  
    }
    .my-goal div { 
        width: 100%;
    } 
    .my-goal div svg {
        position: relative;
        top: 40px;
        width: 100%;  
        z-index: -1;
    }
    .my-goal div svg path {  
        fill: #C7C7C7;
    } 
    /* facts */
    .facts { 
        flex-direction: column-reverse; 
    }
    .facts div {
        width: 100%;
    }
    .facts div p:not(:last-child) {
        margin: 15px 0;
    }
    .facts div svg {
        position: relative;
        top: 40px;
        width: 100%;  
        z-index: -1;
    }
    .facts div svg path {  
        fill: #C7C7C7;
    } 

    /* form */ 
    .contact {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, min-content);

        grid-column-gap: 30px;
        grid-row-gap: 30px;
    } 
    .call-to-user p { 
        margin-top: 10px;
        font-weight: 200;   
    } 
    .contact-data {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* width: min-content; */
         
    } 
    .contact-data-wrapper {
        display: flex;
        justify-content: center;
    }
    .contact-group {
        margin: 0 20px 20px 0;  
    }
    .contact-group * {
        white-space: nowrap;
    }

    .contact-social-networks {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    /* form */
    footer {
        padding: 80px 0 60px 0;
    }
    .form-inputs { 
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .form-inputs input[name="name"] {
        margin-bottom: 30px;
    }
    .form-inputs input {
        padding: 10px 20px 20px 20px;
        width: 100%;
    }
    .form-textarea {
        margin-bottom: 20px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .contact button {
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
    
@media screen and (max-width: 576px) {
    /* offer */
    .offer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* header */ 
    header { 
        padding: 0; 
        width: 100%;
    } 
    .btn-icons .social-networks {
        width: min-content; 
        margin: 0 20px 20px 0;
    }
    /* img */
    .sasha-photo-wrapper { 
        display: none; 
    } 
}
