@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 16px;
  font-family: theme('fontFamily.Nunito'), theme('fontFamily.base');
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weigth: theme('titles.weight');
}
h1 {
  font-size: theme('titles.h1');
  margin: 40px 0 10px;
}
h2 {
  font-size: theme('titles.h2');
  margin: 2.5rem 0 0.1rem 0;
  box-sizing: content-box;
}
h3 {
  font-size: theme('titles.h3');
  margin: 30px 0 5px;
}
h4 {
  font-size: theme('titles.h4');
  margin: 25px 0 2px;
}
h5 {
  font-size: theme('titles.h5');
  margin: 10px 0 0;
}

a {
  color: #027FFE;
}
p {
  margin: 0.4rem 0;
}

ul, ol {
  margin: 0.2rem 0 1rem 0;
  list-style-position: inside;
  padding-left: 0.5rem;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: number;
}

/* Containers */
.container {
  max-width: 880px;
  margin: 0 auto;
}

.container-fluid {
  max-width: none;
}

.container-heading {
  margin-top: 100px;
}

/* 2Xl / TV */
@media only screen and (max-width: theme('screens.2xl.max')) {
  html,
  body {
    font-size: 18px;
  }
}

/* XL / Desktop */
@media only screen and (max-width: theme('screens.xl.max')) {
  html,
  body {}
}

/* LG / Laptop */
@media only screen and (max-width: theme('screens.lg.max')) {
  html,
  body {}

  .container {
    @apply px-4;
  }
}

/* MD / Tablets */
@media only screen and (max-width: theme('screens.md.max')) {
  html,
  body {
    font-size: 16px;
  }
}

/* SM / Phone */
@media only screen and (max-width: theme('screens.sm.max')) {
  html,
  body {
    font-size: 15px;
  }
}
